---
title: abcfasd
date: 2024-04-20
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Canvas</h1>
    <canvas style="background: red; height:200px; width:200px"></canvas>
  </body>
</html>
