@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
  align-items: center;
}

ul {
  list-style: none;
}

nav li {
  display: inline;
}

body {
  border: 1px solid orange;
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  border: 1px solid green;
  display: flex;
  flex-direction: row;
}

article {
  border: 1px solid pink;
  padding: 10px;
  line-height: 140%;
}

aside {
  border: 1px solid cyan;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
