<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} - Blog</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Blog</h1>
      <nav>
        <ul>
          <li>Tags</li>
          <li>About</li>
        </ul>
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
