---
layout: layouts/base.njk
title: afasdf
eleventyExcludeFromCollections: true
---

<main>
  <ul>
    {% set latest = collections.all | reverse %}
{%- for post in latest -%}
<li><a href="{{ post.url }}">{{ post.data.title }}</a> <em>{{ post.date | dateOnly }}</em></li>
{%- endfor -%}
</ul>
</main>
